/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2021, 7:21:03 PM
    Author     : Sophia Patrice
*/

.table {
    width: 100%;
    border : 1px solid black;
    border-collapse: collapse;
    
}

.table th{
    border : 1px solid black;
    text-align: center;
    padding: 8px;
}